/* You can add global styles to this file, and also import other style files */
// import angular material
@import '@angular/material/prebuilt-themes/indigo-pink.css';

// import variables
@import './_variables.scss';

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
::ng-deep {
  .mat-expansion-panel-header {
    padding: 16px;
  }

  .mat-expansion-panel-header-title {
    h2 {
      margin: 0;
      font-size: 18px;
      color: #333;
    }
  }

  .mat-expansion-panel-header-description {
    color: #666;
  }
}